*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}
body{
    color: #000000;
    background-color: #F5F5F5;
}
form{
    /* border: 1px solid green; */
    width: 70%;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label, input{
    /* border: 1px solid hotpink; */
    display: inline-block;
    font-size: 15px;
    width: 100%;
    border: none;
    color: #4381C1;
}
input{
    resize: height;
    overflow: auto;
    background-color: transparent;
    border-bottom: 3px solid #4381C1;
}
label{
    /* border: .5px solid blue; */
    width: 75%;
    text-align: right;
}
.createEventButton{
    display:relative;
    margin: 20px auto;
    width: 70%;
    color: #F5F5F5;
}
.cancel{
    display: relative;
    margin: 0px auto 65px;
    font-size: 2em; 
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3%;
}
h1, h2, h3{
    font-family: 'Old Standard TT', serif;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 2em;
}
p{
    font-family: 'Fanwood Text', serif;
    font-size: 2em;
}
.blurb{
    padding: 20px;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
a:-webkit-any-link {
    color: #F5F5F5;
    cursor: pointer;
    text-decoration: none;
    padding: 3px;
    border-bottom: none;
}

a:hover, .menu:hover{
    color:#EF767A;
}
.menu{
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    flex-direction: row-reverse;
    top: 15px;
    padding-right: 20px;
    font-size: 25px;
}
.menu-item{
    font-size: 20px;
}
.bookTitle{
    margin-top: 40px;
}
.burger-menu, .burger-menu.open {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9999;
  background-color:black;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 75%;
    padding: 20px;
    margin-bottom: 70px;
    overflow: scroll;
}
/* .mainHomePage{
    background-image: url("img/bookstack.jpeg")
} */
.eventTile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: none;
    border-radius: 30px;
    background: #000000;
    padding: 5px;
    width: 250px;
    height: 150px;
    margin: 5px;
    text-decoration-line: none;
}
h4{
    padding-bottom: 5px;
}
button{
    background: #EF767A;
    display: flex;
    justify-content: space-around;
    border: 1px solid #F5F5F5;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 25px;
    font-size: 30px;
    color: #F5F5F5;
}
.buttonSection{
    display: flex;
    justify-content: space-around;
    margin: 25px auto;
}

.footer{
    display: flex;
    justify-content: space-around;
    color: #F5F5F5;
    background-color: #000000;
    position:fixed;
    width:100%;
    height:60px;
    bottom:0px;
    padding: 10px;
    list-style: none;
    font-size: 1.5em;
}
.footer li{
    font-size: .75em;
}
.footer a{
    padding-bottom: 20px;
    /* font-size: 1.25em; */
}
footer a{
    text-decoration: none;
    color: #F5F5F5;
    margin-bottom: 3px;
}

/* CODE BELOW NOTE CURRENTLY IN USE */
/* .burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
} */

/* .burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
} */
/* .eventTile{
    border
} */
/* .deleteButton{
    background-color: #EF767A;
} */